<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="index.js" defer></script>
    
    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="heading">
      <button class="logout" id="logout">Log Out</button>
       <h2>EXPENSE TRACKER SYSTEM</h2>
    </div>
   
    <div class="container">
      <h1>Your Balance</h1>
      <h1 id="balance">$0.00</h1>                 <!--in index.js document.getElementById("balance")-->
      <div class="inc-exp-container">
        <div>
          <h4>Income</h4>
          <p id="money-plus" class="money-plus">  <!--This get accessed by const money_plus-->
            +$0.00
          </p>
        </div>
        <div>
          <h4>Expense</h4>
          <p id="money-minus" class="money-minus">  <!--this get accessed by const money_minus-->
            -$0.00
          </p>
        </div>
      </div>

      
        
    <div class="col-md-4">
      <div class="float-container" style="display: inline-block;">
        <label style="font-weight: 800;">Expenses</label>
        <select id="NumberofRecords" >
            <option value="none" selected disabled hidden>Select an Option </option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select> 
        <button class="btn btn-primary" onclick="getter()">
            Get
        </button>
      </div>
      <h3>Transaction History</h3>
      <ul id="list" class="list">          
        <!--this get acvcessed by const list-->
          <!-- <li class="minus">
            Cash <span>-$400</span
            ><button class="delete-btn">x</button>
          </li> -->
        </ul> 
      <div class="pagination" id="pagination">
    </div> <!--This div is forpagination to add -->
      
      <!-- <div class="pagination-container">
        <div class="pagination">
            <button class="control" id="prev" title="Previous page">
                < Prev
            </button>
            <div class="pageNumbers">
                Page Numbers
            </div>
            <button class="control" id="next" title="Next page">
                Next >
            </button>
        </div> -->
    <!-- </div> -->
    
      <h3>Add New Transaction</h3>
      <form id="form">     <!--this get accessed by const form-->
          <div class="form-control">
              <label for="text">Description</label>
              <input type="text" id="text" placeholder="Enter Text...."/>       <!--this get accessed by const text-->
          </div>
          <div class="form-control">
              <label for="category">Choose a category:</label>
              <select type="category" id="category" none>
                <option disabled selected value>------- select an option -------</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Health">Health</option>
                <option value="Grocery">Grocery</option>
                <option value="Clothing">Clothing</option>
                <option value="Travel">Travel</option>
              </select>
          </div>
          <div class="form-control">
              <label for="amount">Amount <br> (negative - expense ,positive - income )</label>
              <input type="number" id="amount" placeholder="Enter amount...">    <!--this get accessed by const amount-->
          </div>

          <button class="btn">Add transaction</button>
      </form>
      <div id="message"></div>
      <button id="rzp-button" class="btn">Buy Premium</button>
      <ul id="leaderboard" class="list">
        
      </ul>
      <button onclick="download()" class="download" id="downloadexpense">Download File</button>
      
      <!-- download response mei agar succesful ho jaeeye to bas show doenload file in moment -->
      <p id="downloadResponse"></p>       
      <p id="oldfiles"></p>
      <button onclick="oldfiles()" class="olddownload" id="oldfilesdownload">Old Downloads</button><br> <br>

        <div id="url"></div>
        <ul id="listofurls"></ul>

      <!-- <button onclick="download()" class="listdownload" id="listdownloadexpense">List Files</button> -->
    </div>
    <!-- JavaYscript Project  -->
    
  </body>
</html>
